<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appName %></title>
</head>
<body>
    <h1>Products available</h1>
    <% products.forEach(product => {%>
        <p><%= product.name %> cost $<%=product.price %> </p>
    <%}) %>
</body>
</html>